[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1
key_buffer_size=16M
table_cache=32M
read_buffer_size=2M
read_rnd_buffer_size=4M
myisam_sort_buffer_size=16M
thread_cache=250
innodb_data_home_dir=
innodb_data_file_path=/dev/xvdb:20Gnewraw

[mysql.server]
user=mysql
basedir=/var/lib

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

